<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1</title>
</head>
<body>

</body>
<script>
// 4.11 模板编译
// var template = 
// `
// <ul>
//     <% for(var i=0;i<data.supplies.length;i++){     %>
//         <li><%= data.supplies[i] %></li>
//     <% } %>
// </ul>
// `;

// // Turn this into JS 表达式字符串
// echo('<ul>');
// for(var i=0;i<data.supplies.length;i++){
//     echo('<li>');
//     echo(data.supplies[i]);
//     echo('</li>');
// }
// echo('</ul>')

// var evalExpr = /<%=(.+?)%>/g;
// var expr = /<%([\s\S]+?)%>/g;
// template = template.replace()

// 4.12 标签模板
// console.log(123);
// console.log`234`;

// 7.2 rest

 function add ( ...value){
     let sum = 0;
     for (var val of value){
         sum += val;
     }

     return sum;
 }

add(2,3,4);




















</script>
</html>