<!-- 8.5.2 删除这里 -->
<!-- 5.8.1 增加输入框-->
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input class="form-control" placeholder="Please Input" [formControl]="titleFilter">
    </div>
  </div>
</div> -->


<!-- 2.8  这里的 products就是后台的那个列表，ngFor就是要循环这个列表里的信息 ， 用来在页面上反复生成一段html-->
<!-- 8.5.2 -->
<!-- <div *ngFor="let product of products | filter:'title':keyword" class="col-md-4 col-sm-4 col-lg-4"> -->
<div *ngFor="let product of products | async" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <!-- <img src="https://via.placeholder.com/320x150"> -->
    <img [src]="imgUrl">
    <div class="caption">
      <h4 class="pull-right">{{product?.price}} Euro</h4>
      <h4><a [routerLink]="['/product',product?.id]">{{product?.title}}</a></h4>
      <p>{{product?.desc}}</p>
    </div>
    <div>
      <app-stars [rating]="product?.rating"></app-stars>
      <!--2.10 星级评价当中的rating属性应该由当前组件当中的rating属性传递进去 -->
    </div>
  </div>
</div>