    $blue: #1875e7;
 
    div {
    background-color: lighten($blue, 20%);
    }

    //如果变量需要镶嵌在字符串之中，就必须需要写在#{}之中

    $slide: right;
    $direction: top;

    .round {
    border-#{$direction}-#{$slide}-radius: 50%;
    border-bottom-left-radius: 50%;
    }

    // Mixin
    
    @mixin borderRadius ($tl, $tr, $bl, $br) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-left-radius: $bl;
    border-bottom-right-radius: $br;
    }

     // 计算功能

    $width: 50px;

    div {
    width: (200px/2);
    height: $width * 2;
    margin-left: 10px + 10px;
    transition: all .5s ease-in;
    text-align: center;
    line-height: $width * 2;

    span {
        color: white;
    }
    
    &:hover span {
        color: red;
    }
    
    &:hover {
        @include borderRadius(50%, 0, 0, 50%);
        transform: translateX(0);
    }
    }

    // 继承

    .class1 {
    border: 1px solid #ccc;
    }

    .class2 {
    @extend .class1;
    transform: translateX(20px);
    }

    @function double($n) {
    @return $n * 2;
    }

    #sidebar {
    border: double(5px) solid #999;
    }